<header class="d-flex justify-content-end px-5">
  <form class="form-inline my-lg-0 w-50">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
  <h1 class="my-0 py-2"><a href="#">Smoke</a></h1>
</header>